/*général*/



body {
    background-color: #FFFFFFFF;
    font-family: sans-serif;
}

h1 h2 h3 h4 h5 h6 {
    font-weight: 600;
    margin: 0;
}


/*header*/
header {
    background-color: #F38E58FF;
    height: auto;
    padding: 1em 0em 5em 0em;
    margin: -1%;
}

.crumbs .pos {
    list-style-type: none;
    display: inline-block;
}

.crumbs ol li a {
    color: #FFFFFFFF;
    text-decoration: none;
}

.crumbs ol li a:hover {
    color: #000000FF;
    background-color: #FFFFFFFF;
}

.crumbs ol .no a:hover {
    background-color: #00000000;
}

.crumbs {
    position: -webkit-sticky;
}

.crumb {
    display: inline-block;

}

.no {
    margin-top: -1%;
}

.yes {
    margin: 3%;
    margin-bottom: 0%;
}

.po {
    text-align: right;
}

.contact_us {
    text-align: center;
}

header .crumbs img {
    width: 50%;
}

#title {
    font-size: 4.5em;
    text-transform: uppercase;
    color: #FFFFFFFF;
    font-family: sans-serif;
}

#sub_title {
    font-weight: 400;
    font-size: 1.2em;
    color: #4E3926FF;
    margin-top: -1em;
}


/*main*/

main {
    text-align: center;
}

.subti{
    width: 50%;
    margin-right: -50%;
}

#social-direction{
    text-align: center;
}


.icon-f {
    background: url(https://landerapp.com/img/social-facebook.svg) center center no-repeat;
        width: 4.375em;
        height: 4.375em;
        float: left;
        margin-left: 42%;
}

.logo-social .icon-t {
    background: url(https://landerapp.com/img/social-twitter.svg) center center no-repeat;
        width: 4.375em;
        height: 4.375em;
        float: left;
        margin-left: 42%;
}

.logo-social .icon-l {
    background: url(https://landerapp.com/img/social-linkedin.svg) center center no-repeat;
        width: 4.375em;
        height: 4.375em;
        float: left;
        margin-left: 42%;
}

section p{
    line-height: 140%;
    font-size: 1.2em;
    padding-left: 5%;
    padding-right: 5%;
}

h3{
    font-size: 1.9em;
    color: #5BB5DEFF;
}

.O{
    padding: .6rem .8rem;
    color: #7F8C97FF;
    margin: 0;
    width: 45%;
}

.color-links{
    color: #F29c7bFF;
    text-decoration: none;
}



/*footer*/
footer {
    background-color: #404040FF;
    margin: -1%;
}

.place-footer {
    display: inline-block;
    line-height: 1.6rem;
}

.a {
    list-style-type: none;

}

.b {
    text-decoration: none;
    color: #8D8D8DFF;
}

div ul li .b:hover {
    color: #f29c6bFF;
}

#b {
    text-decoration: none;
    color: #8D8D8DFF;
}


.c {
    color: #FFFFFFFF;
}

.d {
    color: #f29c6bFF;
    display: inline-block;
    font-size: 150%;
}

h5 {
    margin: 0%;
}

.f {
    display: inline-block;
}

.de {
    display: list-item;
}

.li_foot li{
    line-height: 1.6em;
}

footer{
    text-align: center;
}
